body{
  background-color: antiquewhite;
}
.To-doTitle{
  text-align: center;
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  padding: 2rem;
}
.Task-inCont {
  text-align: center;
  font-size: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;


}
.Task-Cont{
  text-align: center;
  margin-top: 20px;
  
  
}
.Task-list{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
}

.Task{
  flex: 1;
  background-color: #628395;
}
input[type='text']{
  width: 60%;
  font-size: 1.3rem;
  height: 30px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.Add-Btn{
  background-color: #FF3562;
  width: 10%;
  height: 33px;
  border-left: none;
  padding-bottom: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.5rem;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.Add-Btn:hover{
  background-color: #d13d5d;
}


.btn{
  width: 50px;
  font-size: 1.3rem;
  margin-left: 20px;
  height: 3rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  transition: 0.2s ease;
  background-color: #d46e6e;
}
.btn:hover{
  background-color: #7999ab;
}