*{
  background-color: aliceblue;
}
:root {

  --font-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.To-doTitle {
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-main);
  font-weight: 900;
  padding: 2rem 0;
}

/* Input container */
.Task-inCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-family: var(--font-main);
}

/* Input */
input[type='text'] {
  width: 60%;
  max-width: 500px;
  font-size: 1.3rem;
  height: 30px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Add button */
.Add-Btn {
  background-color: #FF3562;
  width: 10%;
  max-width: 100px;
  height: 33px;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.5rem;
  font-family: var(--font-main);
  font-weight: bold;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.Add-Btn:hover {
  background-color: #d13d5d;
}

.Task-Cont {
  margin-top: 20px;
  text-align: center;
  font-family: var(--font-main);
}

.Task-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
}

.Task {
  flex: 1;
  min-width: 200px;
  background-color: #628395;
  padding: 10px;
  border-radius: 8px;
}

.btn {
  width: 50px;
  height: 3rem;
  margin-left: 20px;
  font-size: 1.3rem;
  font-family: var(--font-main);
  font-weight: bold;
  border: none;
  transition: 0.2s ease;
  background-color: #d46e6e;
  cursor: pointer;
  border-radius: 6px;
}

.btn:hover {
  background-color: #7999ab;
}

/* PHONE RESPONSIVENESS */
@media (max-width: 600px) {
  .To-doTitle {
    font-size: 2rem;
    padding: 1.5rem 0;
  }

  input[type='text'] {
    width: 70%;
    font-size: 1rem;
    height: 28px;
  }

  .Add-Btn {
    width: 20%;
    font-size: 1rem;
    height: 30px;
  }

  .Task-list {
    font-size: 1.3rem;
  }

  .btn {
    width: 40px;
    height: 2.5rem;
    font-size: 1rem;
    margin-left: 10px;
  }
}
